*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background: #F3F3F3;
}

.container{
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #624C91;
    padding: 15px 60px;
}

.header_display{
    display: flex;
    align-items: center;
}

.link{
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 28px;
    line-height: 18px;
}

.container_content{
    display: flex;
    justify-content: space-between;
}

.block{
    margin: 60px 0;
}

.item{
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 393px;
    height: 393px;
    background: #FFFFFF;
}

.line {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-left: 5%;
    margin-bottom: 5%;
}

.item_p{
    margin-top: 4px;
}

.header_d{
    margin-top: 40px;
    display: flex;
}

.header_d_left {
    width: 100%;
    max-width: 806px;
}

.footer {
    padding-bottom: 40px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

footer .menu_link:first-child {
    width: 120px;
    margin-left: 0;
}

.UserAccountLogin {
    margin-left: 20px;
    padding-bottom: 3px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: Arial, serif;
}

.white_button {
    font-size: 16px;
    color: #6244a1;
    font-weight: 550;
    font-family: Arial, serif;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
}

.footer_link:nth-child(2) {
    margin-left: 40px;
}

.footer_link {
    color: #366AF3;
    font-size: 18px;
}

.block_show {
    display: block;
}

.block_hide {
    display: none;
}

.block_items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.second_block {
    margin-left: 40px;
}

.button {
    display: block;
    margin-top: 20px;
    color: #366AF3;
    border-bottom: 1px solid #366AF3;
}

.load_items {
    color: #624C90;
    width: 100%;
    font-size: 18px;
    padding: 21px 320px;
    margin-top: 20px;
    border: 3px solid #624C90;
    border-radius: 7px;
}

.written {
    margin-left: 2%;
    padding: 4px 12px;
    border: 1px solid #b9b0ca;
    border-radius: 4px;
}

.written:nth-child(2){
    margin-left: 4px;
}

.item_text {
    margin: 20px 20px 0;
}

.item_text h3 {
    font-weight: bold;
}